.world{
    /* width: 100%; */
    padding: 80px;
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid red;

}
.col-1, .col-2, .col-3, .col-4{
    width: 404px;
    border: 1px solid red;
    height: auto;
}
.parrot{
    background-image: url(./img/parrot.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: grid;
    /* grid-column: 1/1/4/2    ; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 30px;
    gap: 10px;
}
.img2{
    background-image: url(./img/img2jfif.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid rgba(255, 255, 255, 1);
    /* height: 300px; */
}
.text{
    border: 1px solid red;
    display: block; 
    /* width: auto;
    height: auto; */

}
.add{
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    width: 158px;
    height: 29px;
    border: 1px solid red;
}
.goes{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-family: inherit;
    width: 208px;
    height: 24px;
    font-size: 20px;
    border: 1px solid red;
    line-height: 24px;
    margin-top: 0;
}